.top-articles-title {
    color: white;
    margin-left: 69px;
    font-family: "Roboto Thin", sans-serif;
    font-size: 24px;
}

.top-articles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 69px;
    margin-right: 69px;
}

.top-articles-card {
    height: 400px;
    max-width: 300px;
    min-width: 300px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    margin: 14px;
    display: flex;
    flex-direction: column;
}

.ta-img {
    margin: 10px;
    border-radius: 9px;
    height: 180px;
    object-fit: cover;
}

.ta-title {
    margin-left: 15px;
    color: black;
    font-size: 18px;
    font-family: "Roboto Medium";
}

.ta-brief {
    margin-left: 15px;
}

.article-card-end {
    display: flex;
}

.view-article {
    border: black solid 1.55px;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 15px;
    height: 30px;
    width: 60px;
    transition: all 0.3s;
}

.view-article:hover {
    background-color: #021342;
    border-color: #021342;
    color: white;
}

.article-genre {
    justify-self: right;
    margin-top: 2px;
    margin-left: auto;
    margin-right: 15px;
    color: grey;
}

@media screen and (max-width: 768px) {
    .top-articles-title {
        margin-left: 10px; /* Adjust margin as needed */
    }

    .top-articles-container {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 10px;
        margin-right: 10px;
    }

    .top-articles-card {
        height: auto;
        max-width: 200px;
        width: 100%;
        margin: 10px ;
    }

    .ta-img {
        height: 150px; /* Adjust height as needed */
        border-radius: 5px; /* Adjust border-radius as needed */
    }

    .ta-title {
        font-size: 16px; /* Adjust font size as needed */
        margin-left: 10px;
    }

    .ta-brief {
        margin-left: 10px;
    }

    .view-article {
        margin: 10px;
    }

    .article-genre {
        margin-top: 10px;
        margin-left: auto;
        margin-right: 20px;
    }
}