body {
    position: relative;
    overflow-x: hidden;
    background-color: #0a0a0a;
    /* white-space: nowrap; */
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}

.about-container {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.bg {
    align-self: center;
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.bottom {
    display: flex;
    margin: 5rem;
}

#my-pic {
    margin-bottom: 75px;
    justify-self: center;
    border-radius: 10px;
}

.content {
    margin: 5rem;
    margin-top: 0;
    color: white;
    width: 75%;
}

.heading {
    font-weight: 700;
    color: white;
}

#footer-separator {
    color: black;
    margin-bottom: 0%;
}

.footer-container {
    background-color: #91d6fc;
}

#footer-rights {
    color: black;
    font-weight: 600;
}