body {
    background-color: #0a0a0a;
    margin: 0;
    font-family: "Roboto Regular", sans-serif;
}

.hero-container {
    height: 400px;
    background: linear-gradient(275deg, #161627, #0c0c42, #0f0f0f);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
    margin: 35px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

#hero-img {
    grid-column: 8 / 12;
    grid-row: 2 / 7;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

#hero-title {
    color: white;
    grid-row: 2 / 5;
    grid-column: 1 / 7;
    padding-left: 35px;
    padding-top: 40px;
    font-weight: 600;
    font-size: 44px;
}

.hero-button {
    grid-row: 5/6;
    grid-column: 2/3;
}

.genre-heading>p {
    color: white;
    font-family: "Roboto Thin";
    font-size: 25px;
    margin-left: 30px;
    margin-top: 30px;
}

.genre-heading>p>a {
    color: white;
}